[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    X-XSS-Protection = "1; mode=block"

[build.environment]
  NODE_VERSION = "18"
  VITE_API_URL = "https://musicjunction-music-entertainment-zi65.onrender.com/api"
  VITE_SOCKET_URL = "https://musicjunction-music-entertainment-zi65.onrender.com"
